*
{
    box-sizing: border-box;
    margin: 0;
    font-family: "Roboto", "sans-serif";    
}

body{
    height: 800vh;
}

header li
{
    display: inline-block;
    width: 4.5%;
}

header a
{
    color: black;
    text-decoration: none;
}

header a:hover
{
    color: #ad9966;;
}

header a:active
{
    color:#ad9966;
}

ul
{
    padding: 0;
    font-weight: 400;
    text-transform: uppercase;
    font: 13px; 
    padding: 8px;
    letter-spacing: 2px;

}

header
{
    text-align: center;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 99;
}

#logo
{
    width: 21%;
    vertical-align: middle;
    padding: 10px;
}

#logo img
{
    width: 66.81px;
    height: 79.38px;
}

#section01
{
    height: 40vh;
    background: url(banner-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 220px;
}

#nomezinho
{
    position: absolute;
    top: 25%;
    right:43%;
    font-size: 2em;
    color:white;
    font-family: serif;

}
#alinha, #alinha2, #alinha3
{
    margin: auto;
    width: 65vw;
    display: flex;
}


#section02, #section06
{
    width: 48%;
    margin-right: 4%;
}

#section02 h1
{
    margin-bottom: 20px;
    font-size: 48px;
    line-height: 1.5;
    letter-spacing: 7.2px;
    text-transform:uppercase;
    font-family: serif;
    font-size: 4em;
    font-weight: 400;
    margin-top: 50%;
}

#section03, #section05
{  
    width: 60%;
    background-color: rgb(250 ,245 ,240 );
    color: gray;
    font-family: sans-serif;
    text-align: justify;
    padding-top: 3%;
    padding-bottom: 12%;
    
}

#section03 h3
{
    color: black;
    font-family: sans-serif;
    text-align: center;
    margin: 100px;
}

#section03 h4, p
{
    text-align: center;
    margin: 15px;
}